03 - springboot-soap-webservices/courses.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://patricksalguero.com/courses" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://patricksalguero.com/courses" targetNamespace="http://patricksalguero.com/courses">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://patricksalguero.com/courses">

	<xs:element name="GetCourseDetailsRequest">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:integer"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>	
	<xs:element name="GetCourseDetailsResponse">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="CourseDetails" type="tns:CourseDetails"/>
			</xs:sequence>
		</xs:complexType>
    </xs:element>
    <xs:complexType name="CourseDetails">
		<xs:sequence>
			<xs:element name="id" type="xs:integer"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="description" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="GetCourseDetailsResponse">
    <wsdl:part element="tns:GetCourseDetailsResponse" name="GetCourseDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCourseDetailsRequest">
    <wsdl:part element="tns:GetCourseDetailsRequest" name="GetCourseDetailsRequest"/>
  </wsdl:message>
  <wsdl:portType name="CoursePort">
    <wsdl:operation name="GetCourseDetails">
      <wsdl:input message="tns:GetCourseDetailsRequest" name="GetCourseDetailsRequest"/>
      <wsdl:output message="tns:GetCourseDetailsResponse" name="GetCourseDetailsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CoursePortSoap11" type="tns:CoursePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCourseDetails">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetCourseDetailsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCourseDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoursePortService">
    <wsdl:port binding="tns:CoursePortSoap11" name="CoursePortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>